* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height:20px;

}


.wrapper {
    width: 100%;
    background-image: url(/img/2023-01-15\ 17.50.21.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    margin-bottom: 50px;
}

.home__container {
    display: flex;
    align-items: center;
}

.img_dino {
    width: 100%;
}

.home__container__content__title {
    margin-bottom: 30px;
}


@media screen and (max-width: 768px) {
    .home__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .home__container__picture {
        width: 70%;
    }

}
